@import url('https://fonts.googleapis.com/css?family=Catamaran');

body{
    background: rgb(209, 207, 207);
    font-family: 'Catamaran', sans-serif;
    display: flex;
    flex-direction: column;
    margin:0px;
    padding:0px;
    overflow: hidden;
}
body > div:focus{
    /* outline: none !important; */
}
header{ 
    display: flex;
    flex-direction: column;
    background: rgb(37, 36, 36);
}
nav{
    display: flex;
    align-items: center;
    min-height: 50px;
    justify-content: center;
}
nav img{
    width: 35px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
.icon p{
    display: none;
    color: rgb(94, 164, 255);
    font-weight: 600;
}
.icon img{
    padding:5px; 
}

.icon:hover{
    background: rgba(94, 164, 255, 0.4);
    border-radius: 50%;
    box-shadow: rgba(94, 164, 255, 0.6) 0px 0px 60px 1px;
}
.navText{
    margin-top: -35px;
    font-size: 20px;
    padding-bottom: 10px
} 
#home{
    background: rgb(37, 36, 36);
    font-size: 25px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    color:white;
    background-image: url("https://henryk91.github.io/images/darkLaptop.jpeg");
    background-size: 100vw 100vh;
    background-position: left 50% bottom 20%;
    background-repeat: no-repeat;
}
#swipeTip{
    display: none;
}
.textArea{
    text-align: center;
    align-content: center;
    background: rgb(37, 36, 36, 0.6);
    border-radius: 70%;
    box-shadow: 0 0 80px 5px rgb(37, 36, 36);
}
#cta{
    text-align: center;
    border: 1px solid;
    width: fit-content;
    background: rgb(37, 36, 36, 0.7);
    box-shadow: 0 0 80px 5px rgb(37, 36, 36);
    padding: 5px;
}
#cta > a:visited {
  color: white;
}
#cta:hover{
    color: rgb(94, 164, 255);
    box-shadow: 0 0 4px 1px rgba(94, 164, 255, 0.5);
}
#social img{
    width: 40px;
    padding: 15px;
}
#social > a > img:hover{
    opacity: 0.5;
}
#about{
    overflow-y: scroll;
    width: 100vw;
}
#profilePic{
    width: 150px;
}
#aboutTop{
    text-align: center;
    background: rgb(37, 36, 36);
    margin-top: 10px;
    padding-top: 10px;
}
#aboutTop h2{
    color: rgb(94, 164, 255);
}
#cvDownload{
    margin-left: 30px;
}
#cvDownload img{
    height:45px;
}
.aboutLinks{
    display: inline-block; 
}

.aboutLinks div{
    float:left;
    color: rgb(94, 164, 255);
}
.aboutLinks a{
    text-decoration: none;
}
.aboutLinks p{
    margin-top: 0px;
    color: rgb(94, 164, 255);
}
.aboutCont{
    background-color: white;
    margin-top: 1%;
    width: 80vw;
    box-shadow: 0.5px 2px 10px grey;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
}
.aboutCont h2{
    color: rgb(94, 164, 255);
    margin-top: 5px;
    margin-bottom: 0px;
}
.aboutCont h3{
    color: rgb(94, 164, 255);
    margin-top: 5px;
    margin-bottom: 5px;
}
.aboutCont p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.aboutCont a{
    color: rgb(94, 164, 255);
}
.aboutIntro{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

form{
    text-align: center;
    background:rgb(37, 36, 36);
    padding: 5px;
}
input{
    margin-top: 10px;
    width: 40vw;
    height: 20px;
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
    border:none;
    background:rgb(37, 36, 36);
    color: white;
    border-bottom: white 1px solid;
}
textarea{
    margin-top: 10px;
    width: 40vw;
    height: 40px;
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
    border:none;
    resize: none;
    background:rgb(37, 36, 36);
    color: white;
    border-bottom: white 1px solid;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
#inputBut{
    padding: 5px 25px 5px 25px;
    background: rgb(94, 164, 255);
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
}
#inputBut:hover{
    background: rgba(94, 164, 255, 0.8);
}

#projects{
    display: flex;
    align-content: flex-start;
    align-items: center;
    text-align: left;
    flex-direction: column;
    font-size:16px;
    overflow-y: scroll;
    width: 100vw;
}
#projectHeader{
    text-align: center;
    color:rgb(94, 164, 255);
}
#projectHeader > h1{
    background: rgb(37, 36, 36);
    padding: 10px 24px;
    margin: 24px auto 20px auto;
    display: inline-block;
}
.projectCont{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 5%;
    margin-bottom: 24px;
    line-height: 1.5;
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
}
.projectCont h2{
    color: rgb(94, 164, 255);
    margin: 0;
}
.projectCont p{
    margin: 0 0 8px 0;
}
.projectCont ul{
    margin: 0 0 8px 1.25rem;
    padding: 0;
}
.projectCont img{
    max-width: 20%;
    height: auto;
}
.black{
    background: rgb(37, 36, 36);
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
}

#githubProjects{
    margin-top: 8px;
}

.github-projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    margin-top: 12px;
}

.github-project-card{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 12px 14px 14px;
}

.github-project-card h3{
    margin: 0 0 6px 0;
    color: rgb(94, 164, 255);
    font-size: 18px;
}

.github-project-card p{
    margin: 0 0 8px 0;
}

.github-project-meta{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    font-size: 14px;
    opacity: 0.85;
    margin-bottom: 8px;
}

.github-project-meta span{
    padding: 2px 8px;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    white-space: nowrap;
}

.github-project-links{
    display: flex;
    gap: 8px;
}

.github-project-links a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    font-size: 14px;
    padding: 2px 12px;
}

.github-project-links a:hover{
    color: rgb(94, 164, 255);
    border-color: rgba(94, 164, 255, 0.7);
    box-shadow: 0 0 4px 1px rgba(94, 164, 255, 0.5);
}

.github-projects-footer{
    margin-top: 16px;
    text-align: right;
}

.github-projects-view-all{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    font-size: 14px;
    padding: 4px 14px;
}

.github-projects-view-all:hover{
    color: rgb(94, 164, 255);
    border-color: rgba(94, 164, 255, 0.7);
    box-shadow: 0 0 4px 1px rgba(94, 164, 255, 0.5);
}
#rhinoPics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-left: 0;
}
#quickTD{
    width:70%;
    margin-left:15%;
}
#contact{
    justify-content: center;
}

.pageCont{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    align-items: center;
    padding-bottom: 10vh;
    overflow: scroll;
    height: calc(100vh - 80px);;
} 
#name{
    font-size: 60px;
    margin-bottom: 20px; 
    color: rgb(94, 164, 255);
}
.arrow{
    position: fixed;
    top: 44vh;
    width: 40px;
    z-index: 9999;
    padding: 5px;
}
.arrow:hover{
    animation-name:boxSlide;
    animation-duration: 3s;  
    background-color: rgb(94, 164, 255, 0.6); 
    box-shadow: 0 0 60px 1px rgb(94, 164, 255, 0.6);
    border-radius:50%;
}

@keyframes boxSlide{
                
    0% { border-radius:50%;}

    50%{
        
        transform: rotate(720deg); 
        border-radius:50%;
    }
    100%{
        border-radius:50%;
    }
    
}

.contactCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background: rgb(37, 36, 36);
    box-shadow: 0.5px 2px 10px rgb(37, 36, 36);
    color: white;
}
.contactCont h1{
    margin: unset;
    margin-bottom: 0;
    color: rgb(94, 164, 255);
}
.contactCont p{
    margin-top: 0; 
}
#arrowRight{
    right: 3%;
    z-index: 5000;
}
#arrowLeft{
    left: 3%;
    z-index: 5000;
 }

#fccProjectBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2em;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: row;
    line-height: 1.2em;
    padding-bottom: 1.2em;
    color: white;
}
.fccProjectLinks{
    text-align: center;
}
.fccProjectLinks > p{
    font-weight: bold;
    font-size: 20px;
    margin: 15px; 
    color: rgb(94, 164, 255);
}
.fccProjectLinks > a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    font-size:14;
    padding: 0px 14px 0px 14px;
    margin-left: 5px;
    margin-right: 5px; 
    
}
.fccProjectLinks > a:hover{
    color: rgb(94, 164, 255);
    border: 1px solid rgba(94, 164, 255, 0.5);
    box-shadow: 0 0 4px 1px rgba(94, 164, 255, 0.5);
}
#fccProjectBox > div{
    text-align: left;
    background: rgb(37, 36, 36);
    flex: 1 1 260px;
    max-width: 320px;
    margin: 0;
    padding: 16px 0px 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}
.fccProjectHead{
    padding: 12px 10px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 1.3;
    text-align: center;
}

@media(min-width: 1001px){
    .fccProjectHead{
        min-height: 160px;
        display: block;
    }
}
#chatAppHeader{
   text-align: center;
}
#chatAppHeader > h1{
    color: rgb(94, 164, 255);
    padding:0px;
}
#chatAppBox{
    text-align: center;
}

@media(max-width: 1000px){
    #swipeTip{
        display: flex;
        margin-bottom: -20px;
        z-index: 100; 
    }
    #fccProjectBox{
        flex-direction: column;
    }
    #fccProjectBox > div{
        max-width: 100%;
    }
    textarea{
        width: 60vw;
    }
    input{
        width: 60vw;
    }
    .arrow{
        display: none;
    }
}
.loader {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

    
    top: 50vh;
    left: calc(50vw - 49px);
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media(max-width: 500px) {
    .icon{
        width: 40px;
    }
  }


#mail-link{
    color: white;
}
.animated-page-container {
  position: relative;
  width: 100%;
  overflow: scroll;
  height: -webkit-fill-available;
}

.justify-center{
    justify-content: center;
}